LOCAL_PATH := $(call my-dir)

include $(CLEAR_VARS)

c_includes := $(LOCAL_PATH)
cf_includes:= includes/openssl

cf_includes := $(addprefix -Ijni/,$(cf_includes))

export_c_includes := $(c_includes)

LOCAL_MODULE    := k12core
LOCAL_SRC_FILES := AppSecurity.cpp
LOCAL_CFLAGS    += $(cf_includes)
LOCAL_EXPORT_C_INCLUDES := $(export_c_includes)
LOCAL_LDLIBS := -llog
LOCAL_LDLIBS += $(LOCAL_PATH)/../jniLibs/armeabi/libssl.so
LOCAL_LDLIBS += $(LOCAL_PATH)/../jniLibs/armeabi/libcrypto.so
LOCAL_STATIC_LIBRARIES := kssl kcrypto

include $(BUILD_SHARED_LIBRARY)